.nosotros .contenido {
    display: grid;
    column-gap: 5rem;
    align-items: center;
}
@media (min-width: 768px) {
    .nosotros .contenido {
        grid-template-columns: repeat(2, 1fr);
    }
}